<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="班级图书管理器.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="班级图书管理器.My.MySettings.DatabaseCBCConnectionChinese"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DatabaseCBC.mdb"
            providerName="System.Data.OleDb" />
        <add name="班级图书管理器.My.MySettings.DatabaseCBCConnectionUH" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DatabaseCBC.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- 本节定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消注释以下一节可写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <班级图书管理器.My.MySettings>
            <setting name="Password" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="SkipPass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ErrorNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SWidthw" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="SHeightw" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="SLeftw" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="STopw" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ThemeOfWin" serializeAs="String">
                <value>Office2013</value>
            </setting>
            <setting name="Themes" serializeAs="String">
                <value>Office2013</value>
            </setting>
        </班级图书管理器.My.MySettings>
    </userSettings>
</configuration>
